
{{#partial "content"}}
    <h1>Current Ideas</h1>
    <ul>
        {{#each ideas}}
            <li>
                <form action="/ideas/{{slug}}/vote" method="post">
                    {{title}} ( {{ voteCount }} ) <button>Vote</button>
                </form>
            </li>
        {{/each}}
    </ul>

    <form action="/ideas" method="POST">
        <input type="text" placeholder="What is your Idea?" name="title">
        <button>Suggest Idea</button>
    </form>
{{/partial}}

{{> base.hbs}}